.home  {
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1510&q=80');
    width: 100%;
    height: auto;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home :link{
    text-decoration: none;
}

.home button{
    /* background-color:  rgba(240, 228, 236, 0.712); */
    background-color: rgb(77, 50, 77); 
    color:white;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;

}

.home button:hover{
    /* background-color: rgb(126, 123, 126); */
    background-color: rgb(71, 3, 71);
    color:white;
}

.home h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}

.created {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    margin-left: 10%;
    right: 0%;
}

.select{
    display: flex;
    justify-content: center;
    padding: 7px;    
}

.select span{
    background-color: rgb(80, 74, 73);
    color: cornsilk;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-top-left-radius: 10px;
}

.diets{
    margin-right: 5%;
    border-bottom-right-radius: 10px;

}

.byName{
    margin-right: 5%;
    border-bottom-right-radius: 10px;
}

.byPuntuation{
    margin-right: 5%;
    border-bottom-right-radius: 10px;
}

.todos{
    display: flex;
    justify-content: center;
    padding: 2%;

}

.todos button{
    padding-left: 70px;
    padding-right: 70px;
}

.cards{
    margin-left: 10%;
}

.card{
    border: 1px solid #999;
    box-sizing: border-box;
    /* color: #444; */
    color: white;
    display: inline-block;
    margin: 2%;
    padding: 1em;
    vertical-align: top;
    width: 33,5%;
    /* background-color: white; */
    background-color: black;
}

.card h3{
    width: 250px;
}

.card h3:hover{
    text-decoration:underline darkslategrey;
    color: rgb(25, 44, 44);
}

.card img:hover{
    border: 7px outset rgba(145, 141, 141, 0.8);
}

.paginado button{
    background-color: rgb(120, 189, 52);
    border-color: rgb(66, 161, 66);
}

.paginado button:hover{
    background-color: rgb(45, 95, 45);
}

select{
    padding-top: 5px;
    padding-bottom: 5px;
}